<% include ../partials/header_device %>
    <section class="section green">
        <div class="container">
          <h1 class="page-header">Edit Device</h1>
            <div class="row">
                <div class="span4">
                    <h3>Device ID: <%=device.deviceId%></h3>
                    <p><strong>Current Product: </strong>
                        <%=device.productId[0].title%>
                    </p>
                    <p><strong>Current Customer: </strong>
                        <%=device.customerId[0].fullName%>
                    </p>
                    <form action=<%="/device/" + device.id + "?_method=PUT" %> method="POST" class="contact-form">
                        <div class="form-group">
                            <label for="deviceId">Device ID</label>
                            <input type="text" name="deviceId" class="form-control" id="deviceIdInput" value="<%= device.deviceId %>">
                        </div>
                        <div class="form-group">
                            <label for="imageUrl">Image URL</label>
                            <input type="text" name="imageUrl" class="form-control" id="imageUrlInput" value="<%= device.imageUrl %>">
                        </div>
                        <div class="form-group">
                          <label for="productId">Product</label>
                            <select name="productId">
                                <% products.forEach(function (product) {%>
                                <% if(product.title === device.productId[0].title){ %>
                                    <option value="<%=product.id%>" selected><%= product.title %></option>
                                <% } else { %>
                                    <option value="<%=product.id%>"><%= product.title %></option>
                                <% } %>
                                <% }) %>
                            </select>
                        </div>
                        <div class="form-group">
                          <label for="customerId">Customer</label>
                            <select name="customerId">
                                <% customers.forEach(function (customer) {%>
                                  <option value="<%=customer.id%>"><%= customer.fullName %></option>
                                <% }) %>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
                <div class="span4">
                    <p>Device image:</p>
                    <img src="<%= device.imageUrl %>" class="product-image" alt="<%= device.productId[0].title %>">
                </div>
                <div class="span4">
                  <p>Product image</p>
                  <img src="<%= device.productId[0].imageUrl %>" class="product-image" alt="<%= device.productId[0].title %>">
                </div>
            </div>
        </div>
    </section>
