<% include ../partials/header_device %>
<section class="section green">
    <div class="container">
        <div class="row flex-it">
                <% devices.forEach(function (device) { %>
                  <div class="span6">
                  <div class="row">
                      <div class="span3">
                      <p><strong>Device ID: </strong>
                          <%= device.deviceId %>
                      </p>
                      <p><strong>Linked to: </strong>
                          <%= device.productId[0].title %>
                      </p>
                      <p><strong>Owned by : </strong>
                          <%= device.customerId[0].fullName %>
                      </p>
                      <a href="<%="/device/" + device._id %>"><button class="btn btn-info"><i class="icon-eye-open"></i>View</button></a>

                      <a href="<%="/device/" + device._id + "/edit" %>"<button class="btn btn-primary"><i class="icon-pencil"></i>Edit</button></a>

                      </div>
                      <div class="span3">
                      <a href=<%="/device/" + device._id %>><img src="<%= device.imageUrl %>" class="product-image" alt="<%= device.productId[0].title %>"></a>
                      </div>
                    </div>
                    </div>
                    <% }) %>
        </div>
    </div>
</section>
