<% include ../partials/header_device %>
    <section class="section green">
        <div class="container">
            <div class="row">
                <h1 class="page-header">Device ID: <%=device.deviceId%></h1>
                <!-- <pre><%=device%></pre> -->
                <p><strong>Product: </strong>
                    <%= device.productId[0].title %>
                </p>
                <p><strong>Owner: </strong>
                    <%= device.customerId[0].fullName %>
                </p>
                <p><a class="btn btn-info" href=<%="/device/" + device._id + "/edit" %>>Edit</a></p>
                <form class="deleteForm " method="POST" action=<%="/device/" + device._id + "?_method=DELETE" %>>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </section>
