<div class="container">
  <h1 class="page-header">Ordered Item</h1>
  <pre><%=order%></pre>
  <ul class="list-group">
    <li class="list-group-item">
      <h3><strong>Order Id: <%= order._id %> </strong></h3>
        <p><%= order.productId[0].title %> </p>
        <p><%= order.customerId[0].fullName %> </p>
        <p><%= order.customerId[0].address %> </p>
        <p><%= order.customerId[0].contactNumber %> </p>
      <h4>Order Status:
        <% if (order.completed == true) { %>
          <span class="label label-success">True</span>
        <% } else if (order.completed == false) { %>
          <span class="label label-danger">False</span>
        <% } %>
      </h4>

      <a class="btn btn-warning" href=<%= "/order/" + order._id + "/edit" %>>Edit</a>

      <form class="deleteForm "method="POST" action=<%= "/order/" + order._id + "?_method=DELETE" %>>
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>

    </li>
  </ul>
</div>
