<% include ../partials/header_order %>
    <section class="section green">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <h1 class="page-header">Order Detail </h1>
                    <h3><strong>Order Id: <%= order._id %> </strong></h3>
                    <p><strong>Product: </strong>
                        <%= order.productId[0].title %>
                    </p>
                    <p><strong>Customer: </strong>
                        <%= order.customerId[0].fullName %>
                    </p>
                    <p><strong>Address: </strong>
                        <%= order.customerId[0].address %>
                    </p>
                    <p><strong>Contact Number: </strong>
                        <%= order.customerId[0].contactNumber %>
                    </p>
                    <p><strong>Order Status: </strong>
                        <% if (order.completed == true) { %>
                            <span class="label label-success">Completed</span>
                            <% } else if (order.completed == false) { %>
                                <span class="label label-info">Processing</span>
                                <% } %>
                    </p>
                    <p><strong>Payment Status: </strong>
                        <% if (order.cancelOrder == true) { %>
                            <span class="label label-important">Cancelled</span>
                            <% } else if (order.cancelOrder == false) { %>
                                <span class="label label-success">Live</span>
                                <% } %>
                    </p>

                    <a href=<%="/order/" + order._id + "/edit" %>><button class="btn btn-primary pull-left"><i class="icon-pencil"></i>Edit</button></a>

                    <form class="deleteForm pull-right" method="POST" action=<%="/order/" + order._id + "?_method=DELETE" %>>
                        <button type="submit" class="btn btn-danger"><i class="icon-trash"></i>Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
