<% include ../partials/header_product %>
  <section class="section green">
    <div class="container">
        <div class="row">
            <div class="span5">
                <div>
                    <h2><%= product.title %>: </h2>
                    <p class="product-desc">
                        <%= product.description %>
                    </p>
                </div>
                <div>
                    <a href=<%="/product/" + product._id %>><img src="<%= product.imageUrl %>" class="product-image" alt="<%= product.title %>"></a>
                    <p class="pull-right"><a class="btn btn-info" href=<%="/product/" + product._id + "/edit" %>>Edit</a></p>
                    <form class="deleteForm " method="POST" action=<%="/product/" + product._id + "?_method=DELETE" %>>
                      <p class="pull-right"> <button type="submit" class="btn btn-danger">Delete</button></p>
                    </form>

                </div>
            </div>
        </div>
    </div>
    </div>
</section>
