<div class="container">
  <h1 class="page-header">All Customers</h1>
<ul class="list-group">
  <% customers.forEach(function (customer) { %>
    <li class="list-group-item">
    <!-- <pre><%=customer%></pre> -->
      <h2><strong><%= customer.fullName %>: </strong></h2>
      <h3><%= customer.email %></h3>
      <h3><%= customer.address %></h3>
      <h3><%= customer.contactNumber %></h3>
      <a class="pull-right" href=<%= "/customer/" + customer._id %>>View</a>
    </li>
  <% }) %>
</ul>

</div>
