<div class="container">
  <h1 class="page-header">Customer</h1>
  <h2>Name: <%=customer.fullName%></h2>
  <pre><%=customer%></pre>
  <ul class="list-group">
    <li class="list-group-item">
      <h3><strong><%= customer.fullName %>: </strong></h3>
      <h4>Devices owned: </h4>
      <p><%= customer.deviceId %></p>
      <a class="btn btn-warning" href=<%= "/customer/" + customer._id + "/edit" %>>Edit</a>

      <form class="deleteForm "method="POST" action=<%= "/customer/" + customer._id + "?_method=DELETE" %>>
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>

    </li>
  </ul>
</div>
